.advantages {
  background-color: $color-pattens-blue;
}

.advantages__content ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__content svg {
  fill: $color-tangaroa;
}

.advantages__content h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-1279 {
    line-height: 25px;
  }
}

.advantages__content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;
}
