.booking {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $color-pale-cornflower-blue;
  background-image: url("../img/booking-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @supports (background-image: image-set(url("../img/booking-desktop.webp") 1x)) {
    background-image: image-set(url("../img/booking-desktop.webp") 1x);
  }

  @include vp-1280 {
    @include retina {
      background-image: url("../img/booking-desktop@2x.jpg");

      @supports (background-image: image-set(url("../img/booking-desktop@2x.webp") 2x)) {
        background-image: image-set(url("../img/booking-desktop@2x.webp") 2x);
      }
    }
  }

  @include vp-1279 {
    padding-top: 88px;
    padding-bottom: 101px;

    background-image: url("../img/booking-tablet.jpg");

    @supports (background-image: image-set(url("../img/booking-tablet.webp") 1x)) {
      background-image: image-set(url("../img/booking-tablet.webp") 1x);
    }

    @include retina {
      background-image: url("../img/booking-tablet@2x.jpg");

      @supports (background-image: image-set(url("../img/booking-tablet@2x.webp") 1x)) {
        background-image: image-set(url("../img/booking-tablet@2x.webp") 1x);
      }
    }
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 65px;

    background-image: url("../img/booking-mobile.jpg");

    @supports (background-image: image-set(url("../img/booking-mobile.webp") 1x)) {
      background-image: image-set(url("../img/booking-mobile.webp") 1x);
    }

    @include retina {
      background-image: url("../img/booking-mobile@2x.jpg");

      @supports (background-image: image-set(url("../img/booking-mobile@2x.webp") 1x)) {
        background-image: image-set(url("../img/booking-mobile@2x.webp") 1x);
      }
    }
  }
}

.booking__content {
  display: grid;
  grid-template-columns: 1fr 403px;
  column-gap: 137px;
  padding: 0 60px;

  @include vp-1279 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.booking__info {
  padding-top: 163px;

  @include vp-1279 {
    margin-bottom: 52px;
    padding: 0;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.booking__info h2 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-1279 {
    margin-bottom: 5px;

    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 13px;

    font-size: 24px;
    line-height: 31px;
  }
}

.booking__info > p {
  max-width: 350px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-1279 {
    margin: 0 auto;

    text-align: center;
  }

  @include vp-767 {
    max-width: auto;
    padding: 0 16px;

    font-size: 16px;
    line-height: 22px;
  }
}
