.booking {
  background-color: $color-pale-cornflower-blue;
}

.booking__info h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-1279 {
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__info > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}
