.booking-form {
  background-color: $color-tangaroa;
}

.booking-form > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-alice-blue;

  @include vp-767 {
    line-height: 25px;
  }
}

.booking-form__field {
  margin-bottom: 20px;
}

.booking-form__field input {
  height: 43px;
  padding: 11px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  border: none;

  &::placeholder {
    color: $color-tangaroa-70;
  }
}

.booking-form__checkbox label {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-alice-blue;

  cursor: pointer;

  @include vp-767 {
    line-height: 12px;
  }
}
