.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $color-alice-blue;

  @include vp-1279 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 58px;
    padding-bottom: 65px;
  }
}

.contacts__content {
  display: grid;
  grid-template-columns: minmax(560px, 1fr) 1fr;
  column-gap: 100px;

  @include vp-1279 {
    grid-template-columns: minmax(324px, 1fr) 1fr;
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.contacts__info {
  padding-top: 76px;

  @include vp-1279 {
    padding-top: 66px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.contacts__info p {
  margin: 0;
  margin-bottom: 31px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-1279 {
    margin-bottom: 26px;
  }
}

.contacts__info a {
  display: inline-flex;
  align-items: center;
  margin-bottom: 21px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1279 {
    align-items: start;

    &:last-child {
      margin-bottom: 37px;
    }
  }
}

.contacts__info svg {
  flex-shrink: 0;
  margin-right: 10px;

  @include vp-1279 {
    transform: translateY(4px);
  }
}
