.map {
  display: block;
  width: 100%;
  height: 306px;

  background-color: $romance;
  background-image: url("../img/map-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @supports (background-image: image-set(url("../img/map-desktop.webp") 1x)) {
    background-image: image-set(url("../img/map-desktop.webp") 1x);
  }

  @include vp-1024 {
    @include retina {
      background-image: url("../img/map-desktop@2x.jpg");

      @supports (background-image: image-set(url("../img/map-desktop@2x.webp") 2x)) {
        background-image: image-set(url("../img/map-desktop@2x.webp") 2x);
      }
    }
  }

  @include vp-1023 {
    height: 335px;

    background-image: url("../img/map-tablet.jpg");

    @supports (background-image: image-set(url("../img/map-tablet.webp") 1x)) {
      background-image: image-set(url("../img/map-tablet.webp") 1x);
    }

    @include retina {
      background-image: url("../img/map-tablet@2x.jpg");

      @supports (background-image: image-set(url("../img/map-tablet@2x.webp") 1x)) {
        background-image: image-set(url("../img/map-tablet@2x.webp") 1x);
      }
    }
  }

  @include vp-767 {
    order: 2;
    height: 316px;

    background-image: url("../img/map-mobile.jpg");

    @supports (background-image: image-set(url("../img/map-mobile.webp") 1x)) {
      background-image: image-set(url("../img/map-mobile.webp") 1x);
    }

    @include retina {
      background-image: url("../img/map-mobile@2x.jpg");

      @supports (background-image: image-set(url("../img/map-mobile@2x.webp") 1x)) {
        background-image: image-set(url("../img/map-mobile@2x.webp") 1x);
      }
    }
  }
}

[data-el="map"] {
  width: 100%;
  height: 100%;
}
