.menu {
  position: absolute;
  top: 42px;
  right: 103px;

  @include vp-1023 {
    top: 27px;
    right: 45px;
  }

  @include vp-767 {
    top: 0;
    right: -89.06%;
    z-index: 2;
    overflow-y: auto;

    width: 89.06%;
    height: 100vh;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    background-color: $color-alice-blue;

    transition: right $trans-default;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 1px;
    }
  }
}

.menu.is-open {
  @include vp-767 {
    right: 0;
  }
}

.menu.menu--nojs {
  @include vp-767 {
    position: static;
    width: 100%;
    height: auto;
  }
}
