.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav--page-header {
  margin-right: -33px;
  padding-top: 7px;
  padding-left: 66px;

  @include vp-1279 {
    margin-top: -2px;
    margin-right: -23px;
    padding-top: 0;
  }

  @include vp-767 {
    display: block;
    margin-top: 0;
    margin-right: 0;
    padding-top: 33px;
    padding-left: 0;
  }
}

.nav__item {
  margin-right: 33px;

  @include vp-1279 {
    margin-right: 23px;
  }
}

.nav--page-header .nav__item {
  @include vp-767 {
    margin-right: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-alice-blue;

  @include vp-1279 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }
}

.nav--page-header .nav__link {
  @include vp-767 {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 10px 10px 8px;
  }
}

.nav__link--page-footer {
  @include vp-1279 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 15px;
    color: $color-alice-blue;
  }
}
