.page-header__wrapper {
  min-height: 650px;

  background-color: $color-lochmara;
  background-image: url("../img/page-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @supports (background-image: image-set(url("../img/page-header-desktop.webp") 1x)) {
    background-image: image-set(url("../img/page-header-desktop.webp") 1x);
  }

  @include vp-1024 {
    @include retina {
      background-image: url("../img/page-header-desktop@2x.jpg");

      @supports (background-image: image-set(url("../img/page-header-desktop@2x.webp") 2x)) {
        background-image: image-set(url("../img/page-header-desktop@2x.webp") 2x);
      }
    }
  }

  @include vp-1023 {
    min-height: 638px;

    background-image: url("../img/page-header-tablet.jpg");

    @supports (background-image: image-set(url("../img/page-header-tablet.webp") 1x)) {
      background-image: image-set(url("../img/page-header-tablet.webp") 1x);
    }

    @include retina {
      background-image: url("../img/page-header-tablet@2x.jpg");

      @supports (background-image: image-set(url("../img/page-header-tablet@2x.webp") 1x)) {
        background-image: image-set(url("../img/page-header-tablet@2x.webp") 1x);
      }
    }
  }

  @include vp-767 {
    min-height: 500px;

    background-image: url("../img/page-header-mobile.jpg");

    @supports (background-image: image-set(url("../img/page-header-mobile.webp") 1x)) {
      background-image: image-set(url("../img/page-header-mobile.webp") 1x);
    }

    @include retina {
      background-image: url("../img/page-header-mobile@2x.jpg");

      @supports (background-image: image-set(url("../img/page-header-mobile@2x.webp") 1x)) {
        background-image: image-set(url("../img/page-header-mobile@2x.webp") 1x);
      }
    }
  }
}

.page-header__content {
  padding-top: 35px;
  padding-bottom: 35px;

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
