.page-intro {
  padding-right: 95px;
  padding-left: 95px;

  transition: opacity $trans-default;

  @include vp-1279 {
    padding: 0;
  }
}

.page-intro.is-open {
  opacity: 0;
}

.page-intro h1 {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-default-black-25;

  @include vp-1279 {
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.page-intro p {
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-default-black-25;

  @include vp-1279 {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
