.socials {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;

  transform: translateY(3px);

  @include vp-767 {
    justify-self: flex-start;
    transform: translateX(-7px);
  }
}

.socials li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 23px;
  }
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials svg {
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
