.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;

  @include vp-1279 {
    transform: translateY(5px);
  }

  @include vp-767 {
    transform: none;
    transform: translateX(-5px);
  }
}

.socials li {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1279 {
    margin-right: 23px;
  }
}

.socials svg {
  fill: $color-alice-blue;

  @include vp-1279 {
    width: 16px;
    height: 16px;
  }
}
